body {
    font-family: 'Indie Flower', cursive;
    font-size: 1.3rem;
    text-align: center
}
/*------------------------------------------------Header*/
.video-container {
    height: 30vh;
    overflow: hidden;
}
video {
  position: relative;
}
.title {
    position:absolute;
    top: 10%;
    left: 10%;
    color:white;
    font-size: 2.5rem
}
nav{
    background-color: #83b893;
    
}
.navbar-nav {
    flex-direction: row;
}
.navbar-nav li  a {
    color: black;
}
 /*------------------------------------------------Home page*/
.guessContainer {
    background-image: url("../images/backgroundGuess.jpg");
    opacity: 0.85;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.memoryContainer {
    background-image: url("../images/backgroundMemory.jpg");
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.background{
    background-color: rgba(194, 203, 212, 0.8);  
    color: rgb(8, 9, 10);   
}
.backgroundPosition {
    align-items: center;
    position: relative;
    top:20vh;
}
/*------------------------------------------------Guess Number page*/
.buttons {
    font-size: 1.5rem;
}
.guessPicture {
    height: 120vh;
    background-image: url("../images/boardbackground.jpg");
    opacity: 0.65;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.backgroundPositionGuess{
    color:  rgba(194, 203, 212);  
    margin-top: 10vh;
}
.input-group {
    margin-top: 10vh;
    margin-bottom: 10vh;
}
/*------------------------------------------------Footer*/
.social-links .col a i{
    color: #212529;
}
