body {
    font-family: 'Indie Flower', cursive, sans-serif;
    font-size: 1.3rem;
    text-align: center;
    color: white;
}
.margin {
    margin-top: 10%;
    margin-bottom: 10%;
}
a {
    color: rgb(241, 238, 238);
} 
nav,.backgroundHome {
    background-color: rgba(67, 112, 156, 0.8);  
}
/*------------------------------------------------Header*/
.video-container {
    height: 40vh;
    overflow: hidden;
}
video {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.title {
    position:absolute;
    top: 10%;
    left: 10%;
    font-size: 2.5rem
}
.navbar-nav {
    flex-direction: row;
    position: relative;
}
.active, .navbar-nav li a:hover {
    color: black;
}
 /*------------------------------------------------Home page*/
.background {
    background-color: rgba(197, 202, 207, 0.8);  
    color: black;
}
.dot {
  height: 3vh;
  width: 3vh;
  border-radius: 50%;
  display: inline-block;
  background-color: rgba(75, 103, 133);
}

.activeDot{
    background-color: rgba(18, 34, 51);  
    border: 1px solid black;
}
/*------------------------------------------------Guess Number page*/
.buttons {
    font-size: 1.5rem;
}
.input-group {
    margin-left: 10%;
    margin-right: 10%;
}
.congratulations {
    padding: 10%;
}
/*-------------------------------------------------Memory Page*/
.memory-game {
  height: 100vh;
}
.memory-card {
    position: relative;
    height: 33.33vh;
    width: 25vw;
    border: 1px solid black;
    transform: scale(1);
}
.memory-card:active {
   transform: scale(0.97);
   transition: transform .2s;
}
.front-face,
.back-face {
    height: 100%;
    width: 75%;
    padding: 5%;
    position: absolute;
    display: flex;
    object-fit: contain;
}
.visibility{
    visibility: hidden;
}
.show {
    visibility: visible;
}
/*------------------------------------------------Footer*/
.social-links .col a i{
    color: #212529;
}

/*-------------------------------------------------Media Queries*/
@media (min-width: 768px) {  
    body, .btn-secondary, .btn-success, .form-control, h2 {
        font-size: 2rem;
    }
    .btn-secondary {
        margin-top: 5%;
    }
    .title{
        font-size: 3.5rem;
    } 
    .congratulations {
        padding: 20%;
    }
}
@media (min-width: 992px) { 
    body, .btn-secondary, .btn-success, .form-control, h1, h2 {
        font-size: 2.5rem;
    }
    footer {
        font-size: 2rem;
    }
}
@media (min-width: 1200px) {
    body, .btn-secondary, .btn-success, .form-control, h1, h2 {
        font-size: 3rem;
    }
    .title {
    font-size: 5rem;
    }
    footer {
        font-size: 2.5rem;
    }
}
