body {
    text-align: center;
    width: 100vw;
}
.font-size {
    font-size: 2.5vh;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Make scrollbar invisible */
}
.padding{
    padding: 5vh;
}
.btn-success {
    font-size: 3vh;
}
/*------------------------------------------------Background video on index.html*/
.videoContainer {
    position: relative;
    height:90vh;
    width:100%;
    overflow: hidden;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    height:auto;
    width:auto;
    z-index: -100;
}
.thumbnails .box {
    width: 70%;
}
/*------------------------------------------------ Title and Header*/
.title {
    background-color: rgb(80 80 80 / 15%);
    margin: 30vh 5vh 5vh 5vh;
}
.title h1,.title p, .title a, .layer a i {
    font-size: 4vh;
}
.title p {
    color: #fff;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.layer {
    padding: 2.5vh;
    background-color: rgb(16 16 16 / 88%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.layer p {
    color: rgba(255, 255, 255);
    margin-bottom: 10px;
    padding: 10px;
    font-size: 3.5vh
}
/*------------------------------------------------Navigation*/
.navbar-nav {
    flex-direction: row;
}
nav {
    padding: 2vh;
}
a {
    border: none;
}
.active{
    font-weight: 600;
}
nav .nav .col-3 {
    padding: 0;
}
/*------------------------------------------------Hero image*/
.heroImage{
    height: 100vh;
    position: relative;
}
.heroGuess {
    background:url('../images/numbers.png') center center / cover no-repeat;
}
.heroMemory{
    background: url('../images/puzzle.jpeg') center center / cover no-repeat;
}
/*------------------------------------------------Guess Number Game*/
.layer h1 {
    font-size: 5vh;
}
.md-form, .inputSection #userGuess{
    height: 5vh;
}
.md-form, .inputSection #clickMe {
    width: 50vw;
    margin : 0 auto;
}
.inputSection{
    padding-left: 25px;
    padding-right: 25px;
}
/*------------------------------------------------Memory Game*/
.memory-game {
    height: 100vh;
    background-color: white;
}
.memory-card {
    position: relative;
    height: 33.33vh;
    width: 25vw;
    border: 1px solid black;
    transform: scale(1);
}
.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}
.front-face,
.back-face {
    height: 100%;
    width: 75%;
    padding: 5%;
    position: absolute;
    display: flex;
    object-fit: contain;
}
.visibility{
    visibility: hidden;
}
.show {
    visibility: visible;
}
/*------------------------------------------------Highscore table*/
table {
    background-color: rgb(21 20 20 / 75%);
}
table td {
    color: rgba(255, 255, 255);
}
/*------------------------------------------------Footer*/
footer {
    text-align: center;
    padding-top: 15px;
}
ul .icons{
    padding: 0
}
ul.icons li a {
    border: solid 1px rgb(222 217 217 / 50%);
    color: rgba(144, 144, 144, 0.5);
}
/*-------------------------------------------------Media Queries*/
@media screen and (min-width: 576px) {  
    .font-size{
       font-size: 3vh;
    }
    .layer {
        padding: 5vh;
    }
    .inputSection, #highScoreGuess {
        padding-left: 50px;
        padding-right: 50px;
    }
    .congratulations .button {
        display: inline-block;
        width: 50%;
    }
    .title h1, .title p, .title a, .layer a i {
    font-size: 5vh;
    }
}
@media screen and (min-width: 768px){
    .layer {
        padding-top: 10vh;
    }
}
@media screen and (min-width: 1200px) {
    .title h1, .title p, .title a, .layer a i {
        font-size: 6vh;
    }
    .layer h1 {
        font-size: 7.5vh;
    }
    .md-form, .inputSection #clickMe {
        width: 25vw;
    }
    .thumbnails .box {
        width: 50%;
    }
    .md-form, .inputSection #userGuess{
        height: 7.5vh;
    }
}
